*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.iam{
  color: white;
    font-size: 55px;
    padding: 15px;
    font-family: sans-serif;
}
.text{
  color: white;
    border-right: 2px solid white;
    font-size: 55px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
.card{
    width: 400px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}